{% load i18n %}
{% load static from staticfiles %}

<!DOCTYPE html>
<html lang="uk">

	<head>
		<meta charset="UTF-8"/>
		<title>{% trans "Service encryption / decryption" %}</title>
		<meta name="description"
			  value={% trans "Service encryption / decryption" %} />
		<meta name="viewport" content="width=device-width, initial-scale=1" />

		<!-- Style Section -->
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/bootstrap/3.3.0/css/bootstrap.min.css" >
		<link rel="stylesheet" href="{% static 'css/main.css' %}" />

	</head>

	<body>
		<!-- Start Container -->
		<div class="container">

			<!-- Start Legend -->
			<div class="row" id="header">
				<div class="col-xs-12">
					<h1>{% trans "Service encryption / decryption" %}</h1>

					<div class="alert alert-warning" id="status_msg" role="alert"></div>

                    <div class="well">
                        <!--<p>Шифрування і зворотній процес, дешифрування, проводиться <a href="https://en.wikipedia.org/wiki/Caesar_cipher">шифром Цезаря</a> (ROTN).-->
                        <p>
							{% trans "Encryption is go on by " %}
							<a href='https://en.wikipedia.org/wiki/Caesar_cipher'>{% trans "Caesar cipher" %}</a> (ROTN).
					    	<span class='important'>N  - {% trans "integer bias" %}</span>.
							{% trans "The service allows you to encrypt text with Latin letters. Rest characters remain unchanged." %}
					    </p>
                        <p>
							{% trans "From left to enter your text for the job. Then enter bias in ROT field." %}
							{% trans "Push &ldquo;Encrypt&rdquo; or &ldquo;Decrypt&rdquo;." %}
							{% trans "In right field will be encrypted or decrypted	text." %}
						</p>
						<p>
							{% trans "After typing and " %}<span class="important">
							{% trans "defocused" %}</span>
							{% trans " appear chart of quantitative characterization every typed character." %}
							{% trans "Below will be hint about encryption if text is a valid English." %}
						</p>
                    </div>
				</div>
			</div>
			<!-- End Legend -->

            <!-- Start InputOutputField -->
			<div class="row" id="form-in-out" enctype="multipart/form-data">
				<form action="{% url 'index' %}" method="post">
                    {% csrf_token %}

					<div class="col-xs-5">
						<span id="input-text-error" class="help-block"></span>
                        <label for="input-text" class="control-label">
							{% trans "Text for encryption/decryption" %}*
						</label>
						<textarea name="input-text" id="input-text" rows="10" class="form-control"
								  placeholder="{% trans 'Type text' %}"></textarea>
					</div>

					<div class="col-xs-2" id="buttons">
						<span id="rot-error" class="help-block"></span>
						<div><label for="rot" class="control-label">{% trans "bias" %}*</label></div>
						<div class="input-group input-group-sm">
							<span for="rot" class="input-group-addon sizing-addon3">ROT*</span>
							<input type="text" class="form-control" placeholder="N"
								 value="" name="rot" id="rot"
								 aria-describedby="sizing-addon3">
						</div>
						<input type="submit" value="{% trans 'Encrypt' %}" name="crypt"
							   class="btn btn-danger btn-sm"/>
						<input type="submit" value="{% trans 'Decrypt' %}" name="encrypt"
							   class="btn btn-success btn-sm"/>
					</div>

					<div class="col-xs-5">
                        <label class="control-label" id="result-field">{% trans "Result" %}</label>
						<span id="output-text-error" class="help-block"></span>
						<textarea readonly="readonly" name="output-text" id="output-text" rows="10" class="form-control"
								  placeholder="{% trans 'Result' %}"></textarea>
					</div>
				</form>
			</div>
            <!-- End InputOutputField -->

			<!-- Start Chart -->
			<div class="row" id="frequency-diagram">
				<div class="col-xs-12">
                    <div id="chart_div"></div>
				</div>
			</div>
			<!-- End Chart -->

            <!-- Start InfoMessage -->
			<div class="row" id="info-msg">
				<div class="col-xs-12">

                    <div class="alert alert-info">
                        <strong>{% trans 'Info!' %}</strong>{% trans " about encryption: " %}
                    </div>
				</div>
			</div>
			<!-- End InfoMessage -->

			<!-- Start Footer -->
			<div class="row" id="footer">
				<div class="col-xs-12">
					&copy; 2016 {% trans "Cryption and decryption by Caesar" %}
				</div>
			</div>
			<!-- End Footer -->

		</div>
		<!-- End Container -->

		<!-- JavaScript Section -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js" type="text/javascript"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/3.51/jquery.form.min.js" type="text/javascript"></script>
        <script src="https://www.google.com/jsapi" type="text/javascript"></script>
		<script src="https://cdn.jsdelivr.net/bootstrap/3.3.0/js/bootstrap.min.js" type="text/javascript"></script>
		<script src="{% url 'jsi18n' %}"></script>
        <script src="{% static 'js/main.js' %}" type="text/javascript"></script>
	</body>

</html>
